<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>maven-resource</id>
            <username>${repository.username}</username>
            <password>${repository.password}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>maven-resource</id>
            <repositories>
                <repository>
                    <id>maven-resource</id>
                    <url>${repository.url}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>maven-resource</activeProfile>
    </activeProfiles>
</settings>
